[Desktop Entry]
Type=Application
Name=Veera Music
Exec=/usr/bin/veera-music
Icon=/usr/share/icons/veera-music/spotube-logo.png
Comment=A music streaming app combining the power of music metadata providers & YouTube
Terminal=false
Categories=Audio;Music;Player;AudioVideo;
# MimeType=x-scheme-handler/spotify;